{
  "log": {
    "loglevel": "{{ ctx.hconfig.log_level or 'warning' | lower }}"
  },
  "api": {
    "tag": "api",
 		"listen":"127.0.0.1:10085",
    "services": ["HandlerService", "LoggerService", "StatsService"]
  },
  "dns": {},
  "routing": {
    "domainStrategy": "IPOnDemand",
    "domainMatcher": "hybrid",
    "rules": [
      {
        "type": "field",
        "inboundTag": ["api"],
        "outboundTag": "api"
      }
    ]
  },
  "policy": {
    "levels": {
      "0": {
        "statsUserUplink": true,
        "statsUserDownlink": true
      }
    },
    "system": {
      "statsInboundUplink": true,
      "statsInboundDownlink": true,
      "statsOutboundUplink": true,
      "statsOutboundDownlink": true
    }
  },
  "inbounds": [
    {% block inbounds %}{% endblock %}
  ],
  "outbounds": [
    
    {"tag": "freedom", "protocol": "freedom"},
    {"tag": "blackhole", "protocol": "blackhole"},
    {"tag": "DNS-Internal", "protocol": "dns"}
  ],
  "transport": {},
  "stats": {"keep": true},
  "reverse": {}
}
