{# Nginx server base — sidecar includes are written via include_path() #}

user  nginx;
worker_processes  auto;

{% if ctx.hconfig.log_level == 'CRITICAL' %}
error_log off;
{% else %}
error_log stderr warn;
{% endif %}

pid        /run/hiddify-nginx.pid;


events {
    worker_connections  1024;
}


http {

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    {% if ctx.hconfig.log_level == 'TRACE' %}
    access_log  /opt/hiddify-manager/data/log/system/nginx-access.log  main;
    {% else %}
    access_log off;
    {% endif %}
    sendfile        on;

    keepalive_timeout  65;

    include {{ include_path(ctx, 'nginx/server/conf.d/xray-base') }};
    include {{ include_path(ctx, 'nginx/server/conf.d/singbox-base') }};
    {% if ctx.hconfig.speed_test %}
    include {{ include_path(ctx, 'nginx/server/conf.d/speedtest') }};
    {% endif %}
}
