{% block base_config %}
{
  "outbounds": [
    
    {% if ctx.user.is_active %}
      {% block proxy_group %}
        {% include 'hiddify-core/client/proxies_group' %},
      {% endblock %}
      
      {% block outbounds %}{% endblock %},
    {% endif %}
    {"tag": "direct", "type": "direct"},
    {"tag": "block", "type": "block"},
    {"tag": "dns-out", "type": "dns"}
  ],
  "endpoints": [
    {% if ctx.user.is_active %}
    {% block endpoints %}{% endblock %}
    {% endif %}
  ]
}
{% endblock %}